
@inherits GroupPageModalBase

<head>
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
</head>
<div class="modal" tabindex="-1" role="dialog" id="addMemberModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select member(s) to add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
                    <div>
                        <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value="selectedUsers" Multiple="true" Data="@FilteredUsers" TextProperty="UserName" ValueProperty="Id"
                                       Style="margin-bottom: 20px; height:200px;" />

                    </div>
                <button id="confirmAddMembers" type="submit" class="btn btn-primary"  @onclick="AddSelectedUsers">Confirm</button>
                <button id="cancelAddMembers" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

