@inherits GroupPageModalBase

<head>
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
</head>
<div class="modal fade" tabindex="-1" role="dialog" id="assignOwnerModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select new owner</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
                <div>
                    <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value="newOwnerId" Data="@GroupMembers" TextProperty="UserName" ValueProperty="Id"
                                   Style="margin-bottom: 20px; height:200px;" />
                </div>
                <button id="confirmNewOwner" type="submit" class="btn btn-primary" @onclick="AssignNewOwner">Confirm</button>
                <button id="cancelNewOwner" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


