@page "/groups/create"


@inject IGroupService service;

<h3>Create group</h3>

@*<EditForm id="groupCreationForm" Model="_groupObject" OnValidSubmit="HandleValidSubmit">
    <div class="inputFieldSpacer">
        <p>
            Group name:
            <InputText class="inputField" id="groupRegInput" type="text" @bind-Value="_groupObject.Name" />
        </p>
    </div>
    <div class="inputFieldSpacer">
        <p>
            Owner Id:
            <InputText class="inputField" id="groupOwnerIdInput" type="number" @bind-Value="_ownerId" />
        </p>
    </div>
    <button class="btn btn-primary" id="regGroupButton" type="submit">Submit</button>
</EditForm>

<button @onclick="@LoadGroups">Load groups</button>
<ul>
    @foreach (var group in groups)
    {
        <li>@group.Name, @group.Owner.Username</li>
    }
</ul>

@code {
    public Group _groupObject { get; set; } = new Group();
    private string _ownerId { get; set; } = "";
    public List<Group> groups = new List<Group>();

    public async void HandleValidSubmit()
    {
        await service.Add(_groupObject, Int32.Parse(_ownerId));
    }

}*@
