@page "/groupdetails/{id}"
@inherits GroupDetailsBase

<h3>Component</h3>
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <p>Message board</p>
            <!-- Content -->
        </div>
        <div class="col-lg-5">
            <p>Events</p>
            <!-- Content -->
        </div>
        <div class="col-lg-2">
            <GroupMembersView ChildGroup="ParentGroup"></GroupMembersView>
        </div>
    </div>
</div>

