@page "/groupdetails/{id}"
@inherits GroupDetailsBase

<h3>@GroupObject.Name</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <WebTeam6.Pages.MessagePages.MessageList Group="GroupObject" Messages="GroupObject.Messages"/>
            <!-- Content -->
        </div>
        <div class="col-lg-5">
            <WebTeam6.Pages.EventPages.EventList Group="GroupObject" Events="GroupObject.Events"/>
            <!-- Content -->
        </div>
        <div class="col-lg-5">
            <GroupMembersView GroupObject="GroupObject" DataChanged="DataChanged" CurrentUser="CurrentUser" GroupMembers="GroupMembers"></GroupMembersView>
        </div>
    </div>
</div>

