@page "/groupdetails/{id}"
@inherits GroupDetailsBase

<h3>@AppData.SelectedGroup.Name</h3>
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <p>Message board</p>
            <!-- Content -->
        </div>
        <div class="col-lg-5">
            <p>Events</p>
            <WebTeam6.Pages.EventPages.EventList />
            <!-- Content -->
        </div>
        <div class="col-lg-5">
            <GroupMembersView GroupMembers="GroupMembers" FilteredUsers="FilteredUsers"></GroupMembersView>
        </div>
    </div>
</div>

