@inherits GroupMembersBase

@if (GroupObject.Owner == null || GroupMembers == null)
{
    <div class="loader"></div>
}
else
{
    <table class="table container table-striped table-hover scrollbar" id="userTable" >
        <thead>
            <tr>
                <th>Members</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fas fa-gavel" id="ownerIcon"></i> @GroupObject.Owner.UserName</td>
                <td></td>
                <td></td>

            </tr>
            @foreach (var userItem in GroupMembers)
            {
                if (userItem.Id != GroupObject.OwnerId)
                {
                <tr>
                    <td class="memberName"><i class="fas fa-user" id="memberIcon"></i> @userItem.UserName</td>
                    <td></td>
                    <td>
                        @if (GroupObject.OwnerId == CurrentUser.Id)
                        {
                            <button type="button" class="btn btn-default deleteMember" @onclick="(() => RemoveUserFromGroup(userItem.Id))">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        }
                    </td>
                </tr>
                }
            }
        <tr>
            @if (CurrentUser.Id == GroupObject.OwnerId)
            {
                <td>
                    <input id="addMember" type="button" data-toggle="modal" data-target="#addMemberModal" class="btn btn-primary" @onclick="(() => FilterUsers())" value="Add member" />
                </td>
                <td>
                    <input id="assignOwner" type="button" data-toggle="modal" data-target="#assignOwnerModal" class="btn btn-secondary" value="Assign new owner" />
                </td>
                <td>
                    <input id="deleteGroup" type="button" class="btn btn-outline-danger" @onclick="(() => DeleteGroup(GroupObject.Id))" value="Delete group" />
                </td>
                <AddMemberModal GroupObject="GroupObject" FilteredUsers="FilteredUsers" DataChanged="DataChanged"></AddMemberModal>
                <AssignOwnerModal GroupObject="GroupObject" GroupMembers="GroupMembers" ></AssignOwnerModal>
            }
            else
            {
            <td>
                <input id="leaveGroup" type="button" class="btn btn-danger" @onclick="(() => LeaveGroup(CurrentUser.Id))" value="Leave group" />
            </td>
            }

        </tr>
        </tbody>
    </table>
}


