<h3>Index</h3>

<p>All current groups in database</p>


@*@if (userList == null)
{
    <text>Loading...</text>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>User name</th>
                <th>E-mail</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userItem in userList)
            {
                <tr>
                    <td>@userItem.Username</td>
                    <td>@userItem.Email</td>
                    <td><input id="user-edit" type="button" class="btn btn-primary" value="Edit" /></td>
                    <td><input id="user-delete " type="button" class="btn btn-danger" value="Delete" @onclick="(() => DeleteUser(userItem))" /></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        groups = await service.Get();
    }

    public async void LoadGroups()
    {
        groups = await service.Get();
        Console.WriteLine(String.Join(", ", groups.Select(g => g.Owner.Username).ToList()));
        Console.WriteLine(String.Join(", ", groups.Select(g => g.Name).ToList()));
    }
}

}*@
