@page "/mygroups"

@inherits MyGroupsBase

@if (@UserGroupList == null)
{
    <li> <div class="loader"></div></li>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of members</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var groupItem in @UserGroupList)
            {
            <tr>
                <td><a id="@($"group-#{groupItem.Id}-btn")" type="button" href="@($"groupdetails/{groupItem.Id}")" role="button" class="btn btn-info">@groupItem.Name</a></td>
                <td>@groupItem.Members.Count()</td>
            </tr>
            }
        </tbody>
    </table>
    }
