@page "/events"
@inherits EventListBase

<h3>EventList</h3>

<div class="list-group" id="eventTable">
    @if (Events == null)
    {
        <div>Loading...</div>
    }
    else
    {
    <div id="event-list" class="overflow-auto" style="max-height: 50vh;">
        @foreach (var e in Events)
        {
            <div class="list-group-item">
                <EventDetails Event="e" Delete="@(() => Delete(e))" />
            </div>
        }
    </div>
    }
    <div class="list-group-item">
        <EditForm id="edit-event" OnValidSubmit="Add" Model="Event">
            <div class="form-group row">
                <div class="input-group">
                    <InputText id="eventNameField" placeholder="Title" class="form-control" @bind-Value="Event.Name"></InputText>
                </div>

                <div class="input-group">
                    <InputDate id="eventStartDateField" class="form-control" @bind-Value="Event.StartTime"></InputDate>
                    <div class="input-group-append"><span class="input-group-text oi oi-calendar"></span></div>
                </div>

                <div class="input-group">
                    <InputDate id="eventEndDateField" class="form-control" @bind-Value="Event.EndTime"></InputDate>
                    <div class="input-group-append"><span class="input-group-text oi oi-calendar"></span></div>
                </div>
            </div>
            <div class="form-group row">
                <div class="input-group">
                    <InputTextArea id="eventDescField" placeholder="Description" class="form-control" @bind-Value="Event.Description"></InputTextArea>
                    <input id="eventAdd" type="submit" class="btn btn-primary" value="Add Event" />
                </div>
            </div>
        </EditForm>
    </div>
</div>