@page "/events"
@inherits EventListBase

<h3>EventList</h3>

<div class="list-group">
    @if (Events == null)
    {
        <div>Loading...</div>
    }
    else
    {
        @foreach (var e in Events)
        {
            <EventDetails Event="e" />
        }
    }
    <EventAdd Group="Group" />
</div>
