@page "/events"
@inherits EventListBase

<h3>EventList</h3>

<div class="list-group" id="eventTable">
    @if (Events == null)
    {
        <div>Loading...</div>
    }
    else
    {
        @foreach (var e in Events)
        {
        <div class="list-group-item">
            <EventDetails Event="e" DataChanged="DataChanged" />
        </div>
        }
    }
    <div class="list-group-item">
        <EditForm id="edit-event" OnValidSubmit="Add" Model="Event">
            <div class="row">
                <InputText id="eventNameField" placeholder="Title" class="form-control" @bind-Value="Event.Name"></InputText>
                <InputDate id="eventStartDateField" class="form-control" @bind-Value="Event.StartTime"></InputDate>
                <label><span class="oi oi-calendar" /></label>
                <InputDate id="eventEndDateField" class="form-control" @bind-Value="Event.EndTime"></InputDate>
                <label><span class="oi oi-calendar" /></label>
            </div>
            <div class="row">
                <InputTextArea id="eventDescField" placeholder="Description" class="form-control" @bind-Value="Event.Description"></InputTextArea>
                <input id="eventAdd" type="submit" class="btn btn-primary" value="Add Event" />
            </div>
        </EditForm>
    </div>
</div>
