@if (UserGroupList == null)
{
    <li>Loading...</li>
}
else
{
    @foreach (var groupItem in UserGroupList)
    {
        <li id="@($"group-#{groupItem.Id}-btn")" class="nav-item px-3">
            <NavLink class="nav-link" href="@($"groupdetails/{groupItem.Id}")">
                <span class="oi oi-people" aria-hidden="true"></span> @groupItem.Name
            </NavLink>
        </li>
    }
 
}



@code {
    [Parameter]
    public List<Group> UserGroupList { get; set; }

}
