@page
@using Microsoft.AspNetCore.Identity
@using WebTeam6.Data
@attribute [IgnoreAntiforgeryToken]
@inject SignInManager<User> SignInManager
@functions {
    public async Task<IActionResult> OnPost()
    {
        if (SignInManager.IsSignedIn(User))
        {
            await SignInManager.SignOutAsync();
        }

        return Redirect("~/");
    }
}

@*@page
    @model LogoutModel
    @{
        ViewData["Title"] = "Log out";
    }

    <header>
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out of the application.</p>
    </header>*@