@page "/users"

@using WebTeam6.Data;
@inject IUserService service;

<h3>User Index</h3>


@if (userList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                
                <th>User name</th>
                <th>E-mail</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userItem in userList)
            {
                <tr>
                    <td>@userItem.Username</td>
                    <td>@userItem.Email</td>
                    <td><input type="button" class="btn btn-primary" value="Edit" /></td>
                    <td><input type="button" class="btn btn-danger" value="Delete" /></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<User> userList;

    protected override async Task OnInitializedAsync()
    {
        userList = await service.Get();
    }
}
