@page "/userregistration"

<h3>Register Account</h3>


<div>
    <p>Username: <input type="text" id="RegisterUsernameInput" /></p>
    <p>Email: <input type="text" id="RegisterEmailInput" /></p>
    <p>Password: <input type="password" id="RegisterPasswordInput" /></p>
</div>

@code {

}
