@page "/userregistration"

@using WebTeam6.Data;
@inject IUserService service;

<h3>Register Account</h3>


<EditForm id="registrationForm" Model="_userObject" OnValidSubmit="HandleValidSubmit">
    <InputText class="inputField" id="usernameRegInput" type="text" @bind-Value="_userObject.Username" />
    <InputText class="inputField" id="emailRegInput" type="email" @bind-Value="_userObject.Email" />
    <InputText class="inputField" id="passwordRegInput" type="password" @bind-Value="_userObject.Password"/>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private User _userObject { get; set; } = new User();

    public void HandleValidSubmit()
    {
        service.Add(_userObject);
    }
}
