@inherits LayoutComponentBase


<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        
        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <body id="landing-page-body">
            <div id="landing-page">
                <h1>RemoteTool</h1>
                Welcome to RemoteTool!
                <a href="Identity/Account/Login">
                    <input type="button" value="Log in/Register" />
                </a>
            </div>
        </body>
    </NotAuthorized>
</AuthorizeView>
