@inherits NavMenuBase;
@using WebTeam6.Pages.MenuComponents;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">RemoteTool</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li id="homePage" class="nav-item px-3">
            <NavLink id="homePage" class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*<li id="userIndexPage" class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-people" aria-hidden="true"></span> User Index
            </NavLink>
        </li>*@
        @*<li id="myGroupsPage" class="nav-item px-3">
            <NavLink class="nav-link" href="mygroups">
                <span class="oi oi-people" aria-hidden="true"></span> My groups
            </NavLink>
        </li>*@
        <GroupList UserGroupList="UserGroupList"></GroupList>
        <li id="groupCreatePage" class="nav-item px-3">
            <NavLink class="nav-link" href="#groupModal" data-toggle="modal" data-target="#groupModal">
                <span class="oi oi-plus" aria-hidden="true"></span> Create group
            </NavLink>
        </li>
        @*<li id="allGroupsPage" class="nav-item px-3">
            <NavLink class="nav-link" href="groups">
                <span class="oi oi-people" aria-hidden="true"></span> All groups
            </NavLink>
        </li>*@
        <li id="manageAccountPage" class="nav-item px-3">
            <a id="accountSettings" class="nav-link" href="/Identity/Account/Manage">
                <span class="oi oi-cog"></span> Manage account
            </a>
        </li>
        <li id="logout-link" class="nav-item px-3">
            <form method="post" action="Identity/Account/LogOut">
                <a class="nav-link">
                    <span id="logout-button" class="oi oi-account-logout"></span>
                    <input type="submit" class="nav-link btn btn-secondary" value="Log out" />
                </a>
            </form>
        </li>
    </ul>
</div>


@*<WebTeam6.Pages.GroupPages.GroupCreation DataChanged="DataChanged"></WebTeam6.Pages.GroupPages.GroupCreation>*@